
body {
    margin: 0;
    padding: 0;
    background-color: #4b5e07;
    color: #eeeeee;
    padding-top: 60px;
    padding-bottom: 40px;
}

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

.investigator-list {
}
